softplc/src/test/resources/softplc.dtd

<!ELEMENT softplc (includes | cpu)*>

<!ELEMENT includes EMPTY>
<!ATTLIST includes
	file	CDATA	#REQUIRED
>

<!ELEMENT cpu (memory, program)*>
<!ATTLIST cpu
	slot		CDATA		#REQUIRED
	connections	CDATA		"32"
	maxBlockSize	CDATA	"222"
>

<!ELEMENT memory (area)*>

<!ELEMENT area EMPTY>
<!ATTLIST area
	name	CDATA	#REQUIRED
	size	CDATA	"65535"
>

<!ELEMENT program (file)*>
<!ATTLIST program
	cycleTime	CDATA	"20"
>

<!ELEMENT file (#PCDATA)>
